body {
	background-color: #03A9F4;
	margin: 0 auto;
	position: relative;
	display: table; */
	text-align:;
	font-family: 'Lato', sans-serif;
}

label {
	font-size: 2vh;
	color: #6d6d6d;
}

#anonlabel {
	float: right;
	display: block;
	margin-right: 10px;
	font-size: 1.5vh;
	padding-left: 15px;
	text-indent: -15px;
}

.titlediv {
	margin: 0 auto;
}

.avg {
	text-align: center;
	display: table-cell;
	/* border: solid 1px #00000008; */
}

.avg i{
	font-size: 2vh;
}

.avg p{
	margin: 0 auto;
	padding: 1vh;
	font-size: 2vh;
	color: white;
}

h1 {
	color: white;
	text-align: center;
	font-size: 5vh;
}

i{
	/* padding: 10px; */
}

#back {
	position: absolute;
	text-align: center;
	text-decoration: none;
	padding: 1vh;
	margin-top: 3%;
	width: 20vh;
	float: right;
	right: 0;
	color: #ffffff61;
	background-color: #1c6a8d;
	border: solid 0.3vh #8e8edc59;
}

#back:hover{
	color: white !important;
	transition: 0.2s;
}

h2 {
	margin-top: 20%;
	color: #00000047;
	font-size: 2.5vh;
}

h2 i{
	padding: 1vh;
}

ul {
	list-style-type: none;
	padding-top: 15px;
	color: red;
	text-align: center
}

#link {
	display: block;
	text-align: center;
	padding: 15px;
	color: #ebf1ed;
	font-size: 1.5vh;
}

#redirect {
	text-align: center;
	color: #ffffff9c;
	padding-bottom: 3vh;
	font-style: italic;
}

.frame {
	background-color:#f7f7f7;
	margin-top: 10%;
	width: 50vh;
	border-radius: 10px;
	box-shadow: 0 8px 6px -2px #5d525242;
}

.hoverframe:hover {
	background-color: #00BCD4 !important;
	transition: 0.2s;
}

.avgdivs {
	display: table;
	margin: 0 auto;
	width: 60%;
	border: dashed 3px white;
	border-radius: 2px;
	background-color: #e84c4c36;
}

.frames {
    padding-left: 10vh;
    padding-bottom: 10vh;
}

table {
	width: 100%;
}

th, td {
	width: 33.333%;
	text-align: center;
	padding: 10px;
	font-size: 2vh;
}

th {
	color: white;
	border-right: solid 6px #34353517;
}

td {
	color: #fbf2f2;

}


.formsection {
	margin: 0 auto;
	width: 46vh;
	padding: 2vh;
}

#checkboxanon {
	float: right;
	vertical-align: top;
	width: 15px;
	height: 2.2vh;
	padding: 0;
	margin:0;
	position: relative;
	/* top: -1px; */    *
	overflow: hidden;
}

.formsection input[type=text], textarea{
	resize: none;
	padding-left: 1vh;
	box-sizing: border-box;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;
	height: 5vh;
	font-family: Lato;
	color: #5e6a6f;
	box-shadow: inset 0 1px 0.2vh #ddd;
	border: solid 0.1vh #a7b6bd94;
	border-radius: 3px;
}

textarea{
	padding-top: 1vh;
}

.formsection textarea{
	height: 15vh;
}

.formsection ::placeholder{
	color: #bcbcbc;
	font-size: 1.5vh;
}

button {
	margin-top: 3%;
	margin-bottom: 1%;
	background-color: #5e6a6f;
	border: 0;
	color: white;
	border-radius: 2px;
	cursor: pointer;
	padding: 8px;
	display: inline;
	width: 100%;
	height: 5vh;
	font-size: 2vh;
}

.ratediv {
	margin-bottom: 10%;
	border-bottom: solid 0.1vh #00000029;
	padding-bottom: 2vh;
}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  width: 3.7vh;
  margin-left: 0px;
  padding: 0px;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size: 3vh; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#f9d469 !important;
  transition: 0.3s;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color: #6e6d6d;
}

.noreviews {
	background-color: #dcf7df59;
	color: white;
	padding: 20px;
	border-radius: 5px;
	font-style: italic;
}