{% load staticfiles %}
<!DOCTYPE html>
	<head>
		<meta http-equiv="refresh" content="3; url=/reviews" />
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<title>Reviews</title>
	</head>
	<body>
		<h2><i class="fas fa-check"></i>Review verwerkt</h1>
		<h1>Laat een review achter</h1>
		<div class="frame">
			<h2 style="padding: 60px; font-size: 2vh;">Wij hebben uw review verwerkt, bedankt!</h2></h2>
			</div>
			<p id="redirect">U wordt nu omgeleid naar de reviews... </p>
		</div>
	</body>
</html>